*{
   
    font-family: sans-serif;
    font-weight: 100;
    font-size: 30px;

}
/* .contact-form{
    font-size: 25px;
    
}
.contact-form__h2{
    font-size: 2em;
    color: rebeccapurple;
    
   
} */

.caja1{
    width: 200px;
    height: 200px;
    background: rebeccapurple;
    margin:auto;
}
.caja2{
    width: 200px;
    height: 200px;
    background: rosybrown;
    margin: auto;
}






